{% extends 'admin/layout.html.twig' %}

{% form_theme form 'admin/attribute/_type.html.twig' %}

{% block content %}
  <div class="mb-3">
    <a href="{{ path('admin_attribute') }}" class="btn btn-light">&laquo;&nbsp;{{ 'app.back'|trans }}</a>
  </div>

  {{ form_start(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.name) }}

    {% if form.configuration is not null %}
      {{ form_row(form.configuration) }}
    {% endif %}

    <div class="form-group row">
      <div class="col-sm-10 ml-auto">
        <button type="submit" class="btn btn-primary">{{ 'app.submit'|trans }}</button>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function() {
  var $collection = $('[data-prototype]')
  $collection.on('click', '.collection-remove', function(event) {
    var $el = $(event.currentTarget)
    var $item = $el.closest('.collection-items')
    var $input = $item.find('input')
    if ('' === $.trim($input.val()) || true === confirm('Are you sure ?')) {
      $item.remove()
    }
  })

  $('.collection-add').on('click', function(event) {
    var $items = $collection.find('.collection-items')
    var prototype = $collection.data('prototype')
        prototype = prototype.replace(/__name__/g, $items.length)
    $(prototype).appendTo($collection)
      .find('input:first')
      .focus()
  })
});
</script>
{% endblock %}
