{% extends 'admin/layout.html.twig' %}

{% block content %}

  <div class="mb-3">
    <a href="{{ path('admin_index') }}" class="btn btn-light">&laquo;&nbsp;{{ 'app.back'|trans }}</a>
    <div class="btn-group" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          {{ 'app.action.new'|trans }}
        </button>
        <div class="dropdown-menu">
          {% for alias, type in types %}
            <a href="{{ path('admin_attribute_new', {type: alias}) }}" class="dropdown-item">{{ type.label|trans }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {{ include('admin/flashes.html.twig') }}

  <table class="table">
    <tr>
      <th>{{ 'resource.attribute.name'|trans }}</th>
      <th>{{ 'resource.attribute.type'|trans }}</th>
      <th>{{ 'app.sort'|trans }}</th>
      <th>{{ 'app.created_at'|trans }}</th>
      <th>{{ 'app.action'|trans }}</th>
    </tr>
    {% for entity in entities %}
    <tr>
      <td>{{ entity.name }}</td>
      <td>{{ entity.type }}</td>
      <td>{{ entity.sort }}</td>
      <td>{{ entity.createdAt|datetimeable }}</td>
      <td>
        <a href="{{ path('admin_attribute_edit', {id: entity.id}) }}">{{ 'app.action.edit'|trans }}</a>
        <a href="{{ path('admin_attribute_delete', {id: entity.id, token: csrf_token('delete')}) }}"
          data-confirm-link="{{ 'message.delete.confirm'|trans }}">{{ 'app.action.delete'|trans }}</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4" class="text-center text-muted">No items.</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}