{% extends 'admin/layout.html.twig' %}

{% block content %}

  <div class="alert alert-primary" role="alert">
    订单状态流转使用了 <strong>symfony\workflow</strong> 组件，点击操作按钮测试。
  </div>

  {{ include('admin/flashes.html.twig') }}

  <table class="table">
    <tr>
      <th>{{ 'resource.order.number'|trans }}</th>
      <th>{{ 'resource.order.items_total'|trans }}</th>
      <th>{{ 'resource.order.total'|trans }}</th>
      <th>{{ 'resource.order.state'|trans }}</th>
      <th>{{ 'app.created_at'|trans }}</th>
      <th>{{ 'app.action'|trans }}</th>
    </tr>
    {% for entity in entities %}
    <tr>
      <td>{{ entity.number }}</td>
      <td>{{ entity.itemsTotal|price }}</td>
      <td>{{ entity.total|price }}</td>
      <td>{{ include('admin/order/state.html.twig') }}</td>
      <td>{{ entity.createdAt|datetimeable }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a href="{{ path('admin_order_show', {id: entity.id}) }}" class="dropdown-item">{{ 'app.action.show'|trans }}</a>
            <a href="{{ path('admin_order_workflow', {id: entity.id }) }}" class="dropdown-item">重置</a>
            {% for transition in workflow_transitions(entity) %}
              <div class="dropdown-divider"></div>
              {% if workflow_can(entity, transition.name) -%}
                <a href="{{ path('admin_order_workflow', {id: entity.id, transition: transition.name }) }}" class="dropdown-item">{{ transition.name }}</a>
              {% else %}
                <a class="dropdown-item disabled">{{ transition.name }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="7" class="text-center text-muted">No items.</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
