{% set _first = entities|first %}
{% set _last = entities|last %}

{% for entity in entities %}
<tr id="category-{{ entity.id }}" class="category-parent-{{ entity.parent ? entity.parent.id : 'root' }}">
  <td>
    {{- '&nbsp;'|str_repeat(entity.depth * 5) -}}

    {%- if entity.isEqualTo(_first) -%}
    ┌
    {%- elseif entity.isEqualTo(_last) -%}
    └
    {%- else -%}
    ├
    {%- endif -%}

    {%- if entity.children|length > 0 -%}
      <button class="mx-1 row-switch row-switch-down" data-id="{{ entity.id }}" data-url="{{ path('admin_category_row', {parentId: entity.id}) }}"></button>
    {%- else -%}
      <button class="mx-1 row-switch row-switch-down" disabled></button>
    {%- endif -%}

    {{- entity.name -}}
  </td>
  <td><span class="badge badge-pill badge-light">{{ entity.children|length }}</span></td>
  <td>{{ entity.sort }}</td>
  <td>{{ entity.createdAt|datetimeable }}</td>
  <td>
    <a href="{{ path('admin_category_new', {parentId: entity.id}) }}">{{ 'resource.category.new_child'|trans }}</a>
    <a href="{{ path('admin_product_new', {categoryId: entity.id}) }}">{{ 'resource.category.new_product'|trans }}</a>
    <a href="{{ path('admin_category_edit', {id: entity.id}) }}">{{ 'app.action.edit'|trans }}</a>
    <a href="{{ path('admin_category_delete', {id: entity.id, token: csrf_token('delete')}) }}" data-confirm-link="{{ 'message.delete.confirm'|trans }}" data-method="DELETE">{{ 'app.action.delete'|trans }}</a>
  </td>
</tr>
{% endfor %}
