{% extends 'admin/layout.html.twig' %}

{% block content %}

  <div class="mb-3">
    <a href="{{ path('admin_index') }}" class="btn btn-light">&laquo;&nbsp;{{ 'app.back'|trans }}</a>
    <a href="{{ path('admin_category_new') }}" class="btn btn-primary">{{ 'app.action.new'|trans }}</a>
  </div>

  {{ include('admin/flashes.html.twig') }}

  <table class="table table-bordered">
    <tr>
      <th>{{ 'resource.category.name'|trans }}</th>
      <th>{{ 'resource.category.children'|trans }}</th>
      <th>{{ 'app.sort'|trans }}</th>
      <th>{{ 'app.created_at'|trans }}</th>
      <th>{{ 'app.action'|trans }}</th>
    </tr>
    {% if entities|length %}
      {{ include('admin/category/_row.html.twig') }}
    {% else %}
      <tr>
        <td colspan="4" class="text-center text-muted">No items.</td>
      </tr>
    {% endif %}
</table>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script>
$(function() {
  $('table').on('click', '.row-switch-down', function(el) {
    var $el = $(el.currentTarget)

    $.get($el.data('url'))
      .done(function(r) {
        if ('' === $.trim(r)) {
          $el.prop('disabled', true)
          return false
        }

        $el.closest('tr').after(r)
        $el
          .removeClass('row-switch-down')
          .addClass('row-switch-up')
      })
      .fail(function(r) {
        console.log(r)
      })
      .always(function(r) {
        console.log(r)
      })
  })

  $('table').on('click', '.row-switch-up', function(el) {
    var $el = $(el.currentTarget)
    $('.category-parent-' + $el.data('id')).remove()

    $el
      .removeClass('row-switch-up')
      .addClass('row-switch-down')
  })
});
</script>
{% endblock %}
