{% extends 'admin/layout.html.twig' %}

{% form_theme form _self %}

{% block _product_options_widget %}
  <button type="button" class="btn btn-success mb-2 collection-add"
    {% if form.vars.disabled %}disabled{% endif %}>
    <i class="fas fa-plus"></i>
  </button>
  <table class="table table-bordered m-0" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
  {% for child in form %}
    {{ form_widget(child) }}
  {% endfor %}
  </table>
{% endblock _product_options_widget %}

{% block _product_options_entry_widget %}
<tr class="collection-items">
  <td width="30%">
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
  </td>
  <td width="50%">
    {{ form_widget(form.choices) }}
    {{ form_errors(form.choices) }}
  </td>
  <td width="20%">
    <button type="button" class="btn btn-danger collection-remove"
      {% if form.vars.disabled %}disabled{% endif %}>
      <i class="fas fa-trash-alt"></i>
    </button>
  </td>
</tr>
{% endblock _product_options_entry_widget %}

{% block content %}
  <div class="mb-3">
    <a href="{{ path('admin_product') }}" class="btn btn-light">&laquo;&nbsp;返回</a>
  </div>

  {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.unit) }}
    {{ form_row(form.options) }}
    {{ form_row(form.enabled) }}

    <div class="form-group row">
      <div class="col-sm-10 ml-auto">
        <button type="submit" class="btn btn-primary">{{ 'app.submit'|trans }}</button>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
  $(function() {
    var $collection = $('[data-prototype]')
    $collection.on('click', '.collection-remove', function(event) {
      var $el = $(event.currentTarget)
      var $item = $el.closest('.collection-items')
      var $input = $item.find('input')
      if ('' === $.trim($input.val()) || true === confirm('Are you sure ?')) {
        $item.remove()
      }
    })

    $('.collection-add').on('click', function(event) {
      var $items = $collection.find('.collection-items')
      var prototype = $collection.data('prototype')
          prototype = prototype.replace(/__name__/g, $items.length)
      $(prototype).appendTo($collection)
        .find('input:first')
        .focus()
    })
  });
</script>
{% endblock %}
