{% extends 'admin/layout.html.twig' %}

{% block content %}

  <div class="mb-3">
    <a href="{{ path('admin_product') }}" class="btn btn-light">&laquo;&nbsp;{{ 'app.back'|trans }}</a>
    <a href="{{ path('admin_product_item_new', {productId: product.id}) }}" class="btn btn-light">{{ 'app.action.new'|trans }}</a>
  </div>

  {{ include('admin/flashes.html.twig') }}

  <table class="table">
    <tr>
      <th>{{ 'resource.product.item.name'|trans }}</th>
      <th>{{ 'resource.product.option'|trans }}</th>
      <th>{{ 'resource.product.item.price'|trans }}</th>
      <th>{{ 'resource.product.unit'|trans }}</th>
      <th>{{ 'resource.product.item.quantity'|trans }}</th>
      <th>{{ 'app.enabled'|trans }}</th>
      <th>{{ 'app.created_at'|trans }}</th>
      <th>{{ 'app.action'|trans }}</th>
    </tr>
    {% for entity in product.items %}
    <tr>
      <td>{{ entity.name }}</td>
      <td>
        {% for optionValue in entity.optionValues %}
        {{ optionValue.name }} {% if optionValue != entity.optionValues|last %}/{% endif %}
        {% endfor %}
      </td>
      <td>{{ entity.price|price }}</td>
      <td>{{ entity.product.unit }}</td>
      <td>{{ entity.quantity|default('resource.product.item.quantity_untracked'|trans) }}</td>
      <td>{{ entity|enable }}</td>
      <td>{{ entity.createdAt|datetimeable }}</td>
      <td>
        <a href="{{ path('admin_product_item_edit', {id: entity.id}) }}">{{ 'app.action.edit'|trans }}</a>
        <a href="{{ path('admin_product_item_delete', {id: entity.id, token: csrf_token('delete')}) }}">{{ 'app.action.delete'|trans }}</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="9" class="text-center text-muted">No items.</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
