{% extends 'admin/layout.html.twig' %}

{% block content %}

  <div class="mb-3">
    <a href="{{ path('admin_product_variant', {productId: form.vars.value.product.id}) }}" class="btn btn-light">&laquo;&nbsp;{{ 'app.back'|trans }}</a>
  </div>

  {{ form_start(form) }}
    {{ form_row(form.price) }}
    
    <div class="form-group row">
      {{ form_label(form.quantity) }}
      <div class="col-sm-10">
        <div class="input-group">
          {{ form_widget(form.quantity) }}
          <div class="input-group-append">
            <span class="input-group-text">{{ form.vars.value.product.unit }}</span>
          </div>
        </div>
      </div>
    </div>

    {{ form_row(form.enabled) }}
    {{ form_row(form.optionValues) }}

    <div class="form-group row">
      <div class="col-sm-10 ml-auto">
        <button type="submit" class="btn btn-primary">{{ 'app.submit'|trans }}</button>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
