{% extends 'admin/layout.html.twig' %}

{% block content %}

  {{ include('admin/flashes.html.twig') }}

  <table class="table">
    <tr>
      <th>{{ '_id'|trans }}</th>
      <th>{{ 'resource.product.variant.name'|trans }}</th>
      <th>{{ 'resource.product.variant.price'|trans }}</th>
      <th>{{ 'resource.product.unit'|trans }}</th>
      <th>{{ 'resource.product.variant.quantity'|trans }}</th>
      <th>{{ 'app.enabled'|trans }}</th>
      <th>{{ 'app.created_at'|trans }}</th>
      <th>{{ 'app.action'|trans }}</th>
    </tr>
    {% for entity in entities %}
    <tr>
      <td>{{ entity.id }}</td>
      <td>
        {{ entity.name }}
        {% for optionValue in entity.optionValues %}
          <span class="badge badge-info">{{ optionValue.name }}</span>
        {% endfor %}
      </td>
      <td>{{ entity.price|price }}</td>
      <td>{{ entity.product.unit }}</td>
      <td>{{ entity.quantity|default('resource.product.variant.quantity_untracked'|trans) }}</td>
      <td>{{ entity|enable }}</td>
      <td>{{ entity.createdAt|datetimeable }}</td>
      <td>
        <a href="{{ path('admin_product_variant_edit', {id: entity.id}) }}">{{ 'app.action.edit'|trans }}</a>
        <a href="{{ path('admin_product_variant_delete', {id: entity.id, token: csrf_token('delete')}) }}">{{ 'app.action.delete'|trans }}</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="9" class="text-center text-muted">No items.</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
